/* .floatLeft{
    float:left;
    width: 33%;
}
.floatRight{
    float: right;
    width: 33%;
} */

.box {
    width: 300px;
    height: 200px;
    background: yellow;
}

.floatLeft {
    float: left;
    width: 500px;
    background: red;
}

.floatRight {
    float: right;
    width: 700px;
    background: blue;
}

@media (max-width: 460px) {
    .box {
        background-color: green;
    }
}

@media (max-width: 1216px) {
    .floatLeft,
    .floatRight {
        float: unset;
        width: 100%;
    }
}